
$pinkbird: #ffcdcd;
$pinkbird-light: rgba(255, 230, 230, .2);
$pinkbird-dark: rgba(250, 170, 175, 1);

$colors: ();
$colors: map-merge(
    (
    "pinkbird": $pinkbird,
    "pinkbird-light": $pinkbird-light,
    "pinkbird-dark": $pinkbird-dark
    ),
    $colors
);

$primary: $pinkbird;
$light: $pinkbird-light;
$dark: $pinkbird-dark;

$theme-colors: () !default;
$theme-colors: map-merge(
    (
    "primary":    $primary,
    "light":      $light,
    "dark":       $dark
    ),
    $theme-colors
);

// $component-active-color: $white !default;
$component-active-bg: $primary;

// $input-btn-focus-width: .2rem;
$input-btn-focus-color: rgba($component-active-bg, .5);
// $input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

// $input-focus-border-color: lighten($component-active-bg, 25%);

$body-bg: $light;
